@font-face{
    font-family: "Vazir";
    src: url("../font/ttf/Vazirmatn-Bold.ttf") format("truetype");
}
body{
    box-sizing: border-box;
    background-image:linear-gradient(to right,#0288D1,#0097A7);
    margin: 0;
    padding: 0;
    font-family: "Vazir";
}
.m{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}
main{
    padding-top: 120px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}
.name{
    font-size: 29px;
    display: flex;
    gap: 8px;
}
.s{
    color: #0097A7;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}
.input{
    font-family: "Vazir";
    width: 320px;
    height: 32px;
    font-size: 18px;
    background-color: rgb(220, 221, 221);
    border: none;
    border-radius: 14px;
    box-shadow: 0px 1px 8px rgba(000, 000, 000, 0.6);
    padding-right: 10px;
    transition: all 350ms linear;
}
.input:focus{
    outline-color: #0097A7;
}
.link-li{
    padding: 15px 10px;
}
.link-lii{
    background-image:linear-gradient(to right,#0288D1,#0097A7);
    font-family:"Vazir";
    padding: 15px 10px;
    color: white;
    border-radius: 5px;
}
.link-li:active{
    transition: all 200ms ease;
    transform: scale(0.95);
}
.link-li:hover{
    color: white;
    padding: 13.5px 10px;
    border-radius: 5px;
    background-image:linear-gradient(to right,#0288D1,#0097A7);
    box-shadow: 1px 1px 2px black;
}
nav{
    display: flex;
    justify-content: start;
}
ul{
    list-style-type: none;
    padding: 0;
}
.header-links{
    position: fixed;
    top: 70px;
    padding-right: 30px;
    padding-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color:white;
    display: flex;
    align-items: center;
}
.link-me{
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    gap: 8%;
}
.img12{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_header{
    direction: rtl;
    border: 1px solid black;
    color: black;
    border-radius: 18px;
    width: 8.5%;
    height: 55%;
    text-align: center;
    transition: all 300ms ease-in 50ms;
    cursor: pointer;
}
.link_header:hover{
    background-color: #0097A7 ; 
    color: white;
    border: 1px solid #0097A7;
    outline: none;
}
ul{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.alink{
    text-decoration: none;

}
.main-image{
    width: 100%;
    height: 400px;
    object-fit:cover;
}
.form{
    height: 420px;
    box-shadow: 2px 2px 7px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CFD8DC;
    text-align: center;
    border-radius: 8px;
    width: 300px;
    margin-top: -50px;
}
.user{
    font-size: 20px;
    border-radius: 10px;
}
.namee{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.sp{
    color: #0097A7;
    font-size: 30px;
}
.input1{
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding-right: 10px;
    background-color:  rgb(190, 190, 190);
    font-family: "Vazir";
}
.input1:hover{
    box-shadow: 2px 2px 4px white;
}
button{
    width: 200px;
    height: 30px;
    color:#0288D1;
    background-color: transparent;
    border: 2px solid #0288D1;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Vazir";
    transition: all 250ms ease-in 50ms;
    cursor: pointer;
}
button:hover{
    background-color: #0288D1;
    color: white;
}
h1{
    text-shadow: none;
    font-size: 30px;
}
label{
    font-size: 16px;
}
.footer{
    width: 100%;
    min-height: 280px;
    background-color: rgb(199, 199, 199);
    margin-top: 140px;
}
.f-item{
    box-sizing: content-box;
    max-width: 100%;
    max-height: 200px;
    padding: 40px;
    display: flex;
    gap: 80px;
}
.f-list{
    color: rgb(75, 75, 75);
    display: block;
    gap: 20px;
}
li{
    margin-top: 10px;
}
.img-f{
    width: 20px;
    height: 30px; 
}
.f-be{
    color: aliceblue;
    margin-right: 80px;
}
.img-ma{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    align-items: center;
}
.f-h{
    color: black;
}
.f-end{
    font-family: "Vazir";
    text-align: center;
}
.thanks{
    padding-top: 10px;
}
.email{
    padding: 10px;
}
